<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>게시물 생성</title>
    <!-- BootStrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp"
      crossorigin="anonymous"
    />
    <!-- custom CSS -->
    <link th:href="@{/css/form.css}" rel="stylesheet" />
  </head>
  <body>
<div id="wrap">
      <div class="justify-content-center">
        <div class="d-flex align-items-stretch">
          <!-- navigation -->
          <div class="navigation px-5 mt-3">
            <div class="mb-4">
              <a href="/"><img th:src="@{/image/logo.png}" /></a>
            </div>
            <div th:if="${loginUser} != null">
              <div class="m-3">
                <a	 
                	th:href="@{/profile/{userId}(userId=${loginUser.userId})}"
                  ><img
                    class="profile-picture"
                    alt="본인 프로필 사진"
                    th:src="@{${loginUser.profile}}"
                /></a>
                <span class="ms-2" th:text="${loginUser.userName}">유저이름</span>
              </div>
              <div class="list-group">
                <a
                  th:href="@{/profile/{userId}(userId=${loginUser.userId})}"
                  class="list-group-item list-group-item-action"
                  ><img
                    class="nav-icon"
                    th:src="@{/image/nav-list-profile.png}"
                  />내 프로필</a
                >
                <a
                  href="/post/create"
                  class="list-group-item list-group-item-action"
                  ><img class="nav-icon" th:src="@{/image/writing.png}" />게시물
                  작성</a
                >
                <a
                  href="/noti/list"
                  class="list-group-item list-group-item-action"
                  ><img
                    class="nav-icon"
                    th:src="@{/image/megaphone.png}"
                  />공지사항</a
                >
                <a href="/logout" class="list-group-item list-group-item-action"
                  ><img
                    class="nav-icon"
                    th:src="@{/image/logout.png}"
                  />로그아웃</a
                >
              </div>
            </div>
            <div th:if="${loginUser} == null">
              <div class="list-group">
                <a
                  href="/noti/list"
                  class="list-group-item list-group-item-action"
                  ><img
                    class="nav-icon"
                    th:src="@{/image/megaphone.png}"
                  />공지사항</a
                >
                <a href="/login" class="list-group-item list-group-item-action"
                  ><img
                    class="nav-icon"
                    th:src="@{/image/login.png}"
                  />로그인</a
                >
              </div>
            </div>
          </div>

          <!-- contents -->
          <div class="row justify-content-center">
            <!-- search-bar -->
            <div class="search-bar container p-3">
              <form action="/profile/search">
                <div class="row align-items-center">
                  <div class="col-6 offset-2">
                    <input
                      class="form-control col-2"
                      type="text"
                      name="search"
                      placeholder="검색..."
                    />
                  </div>
                  <div class="col-auto">
                    <input
                      class="btn btn-primary m-2 custom-button-search"
                      type="submit"
                      value="찾기"
                    />
                  </div>
                </div>
              </form>
            </div>

            <!-- form or content -->
            <div class="custom-form me-5">
              <div class="text-center mb-3"><h1>게시글 작성</h1></div>
              <form action="" enctype="multipart/form-data" method="post">
                <fieldset class="custom-fieldset">
                  <div class="form-floating mb-3">
                    <textarea
                      class="form-control"
                      id="floatingTextarea"
                      name="postContent"
                      style="height: 350px;"
                      placeholder="텍스트 상자(500자)"
                    ></textarea>
                    <label for="floatingTextarea">본문</label>
                  </div>
                  <div class="mb-3">
                    <input class="form-control" type="file" name="postImage" />
                  </div>
                  <div class="text-center row">
                    <button
                      class="col btn btn-primary m-2 custom-button"
                      type="button"
                      data-bs-toggle="modal" data-bs-target="#postCreateModal"
                    >
                      취소
                    </button>
                    <button
                      class="col btn btn-primary m-2 custom-button"
                      type="submit"
                    >
                      저장
                    </button>
                  </div>
                </fieldset>
              </form>
                                      <!-- Modal -->
					<div class="modal fade" id="postCreateModal" tabindex="-1" aria-labelledby="momdalLabel" aria-hidden="true">
					  <div class="modal-dialog modal-dialog-centered">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h1 class="modal-title fs-5" id="modalLabel">게시물 작성 중단</h1>
					        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					      </div>
					      <div class="modal-body text-start">
					      게시글 작성을 중단하시겠습니까?
					      </div>
					      <div class="modal-footer">
						        <button type="button" class="btn btn-secondary" onclick="history.back()">작성 중단</button>
						        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">계속 작성</button>
					      </div>
					    </div>
					  </div>
					</div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>
