
h1 {
  font-size: 30px;
}

.edit-profile, .reply-link{
  text-decoration: none;
  color : #000;
}

#wrap {
  width: 1200px;
  margin: 0 auto;
}

.navigation {
  width: 300px;
}

.container{
	width:100%;
}

.post-profile-icon{
  width:50px;
  height:50px;
}

.post-image{
  width: 100%;
}

.content, .like, .reply{
  margin : 10px 0;
  padding: 0;
}

.like-button{
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.del-button{
	padding:none !important;
	border: none;
	background-color : transparent;
	display: inline;
}

.profile-picture{
  width: 75px;
  height: 75px;
}

.profile-icon{
  width:100px;
  height: 100px;
}

.profile-info {
  margin-bottom: 40px;
  padding:30px 0 30px 0;
  border-bottom: 1px solid #999;
  background-color: #fff;
}

.edit-button{
  text-align: right;
}

.navigation .nav-icon, .icon{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.list-group-item{
  border-color: ghostwhite;
}

.search-bar{
  border-bottom: 1px solid ghostwhite;
  height : 100px;
}

.custom-form{
  width: 550px;
}

.custom-fieldset{
  border: 1.5px solid rgb(180, 180, 180);
  border-radius: 10px;
  padding: 40px;
}

.custom-button{
  height: 45px;
  background-color: #949cdf;
  border-color: #949cdf;
}

.custom-button-search {
  width: 100px;
  height: 45px;
  background-color: #949cdf;
  border-color: #949cdf;
}

.custom-edit-button {
	width:110px;
	height:30px;
}

.custom-button:hover, .custom-button-search:hover{
  background-color: #cd5d7d;
  border-color: #cd5d7d;
}
