<!DOCTYPE html>
<html>
  <head xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메인 페이지</title>
    <!-- BootStrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp"
      crossorigin="anonymous"
    />
    <!-- custom CSS -->
    <!-- 실제 적용할 코드 -->
    <link th:href="@{/css/form.css}" rel="stylesheet" />
  </head>
  <body>
    <div id="wrap">
      <div class="justify-content-center">
        <div class="d-flex align-items-stretch">
          <!-- navigation -->
          <div class="navigation px-5 mt-3">
            <div class="mb-4">
              <a href="/"><img th:src="@{/image/logo.png}" /></a>
            </div>
            <div th:if="${loginUser} != null">
              <div class="m-3">
                <a	 
                	th:href="@{/profile/{userId}(userId=${loginUser.userId})}"
                  ><img
                    class="profile-picture"
                    alt="본인 프로필 사진"
                    th:src="@{${loginUser.profile}}"
                /></a>
                <span class="ms-2" th:text="${loginUser.userName}">유저이름</span>
              </div>
              <div class="list-group">
                <a
                  th:href="@{/profile/{userId}(userId=${loginUser.userId})}"
                  class="list-group-item list-group-item-action"
                  ><img
                    class="nav-icon"
                    th:src="@{/image/nav-list-profile.png}"
                  />내 프로필</a
                >
                <a
                  href="/post/create"
                  class="list-group-item list-group-item-action"
                  ><img class="nav-icon" th:src="@{/image/writing.png}" />게시물
                  작성</a
                >
                <a
                  href="/noti/list"
                  class="list-group-item list-group-item-action"
                  ><img
                    class="nav-icon"
                    th:src="@{/image/megaphone.png}"
                  />공지사항</a
                >
                <a href="/logout" class="list-group-item list-group-item-action"
                  ><img
                    class="nav-icon"
                    th:src="@{/image/logout.png}"
                  />로그아웃</a
                >
              </div>
            </div>
            <div th:unless="${loginUser} != null">
              <div class="list-group">
                <a href="/login" class="list-group-item list-group-item-action"
                  ><img
                    class="nav-icon"
                    th:src="@{/image/login.png}"
                  />로그인</a
                >
              </div>
            </div>
          </div>

          <!-- contents -->
          <div class="row justify-content-center container">
            <!-- search-bar -->
            <div class="search-bar p-3">
              <form action="/profile/search">
                <div class="row align-items-center">
                  <div class="col-6 offset-2">
                    <input
                      class="form-control col-2"
                      type="text"
                      name="search"
                      placeholder="검색..."
                    />
                  </div>
                  <div class="col-auto">
                    <input
                      class="btn btn-primary m-2 custom-button-search"
                      type="submit"
                      value="찾기"
                    />
                  </div>
                </div>
              </form>
            </div>

            <!-- form or content -->
            <div class="post container" th:each="post : ${posts}">
              <div th:each="info : ${postInfo}">
              <div th:if="${info.postId} == ${post.postId}">
              <div class="row post-info mb-3">
                <a th:href="@{/profile/{userId}(userId=${post.userId})}" class="col-1")
                  ><img
                    class="post-profile-icon"
                    alt="게시물 프로필 사진"
                    th:src="@{${info.profile}}"
                /></a>
                <div class="col align-self-center">
                  <div class="row profile">
                    <div class="col">
                      <span class="" th:text="${info.userName}">유저이름</span>
                      <span class="" th:text="${post.date}">게시 날짜</span>
                    </div>
                  </div>
                </div>
                </div>
                </div>
              </div>
              <div class="row img-fluid"  th:if="${post.postImage} != null">
                <a th:href="@{/post/{postId}(postId=${post.postId})}">
                  <img
                    th:src="@{${post.postImage}}"
                    alt="게시물 사진"
                    class="post-image img-fluid"
                  />
                </a>
              </div>
              <div class="row">
                <span th:text="${post.postContent}" class="content"
                  >Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Magnam suscipit iure laudantium, necessitatibus quam maiores,
                  voluptas vero mollitia nihil reiciendis inventore eveniet
                  porro quisquam sed? Dolor fugit quisquam fuga minus?</span
                >
                <div class="like">
                  <a href="" class="like-count">
                    <img class="like-button" th:src="@{/image/heart.png}"
                  /></a>
                  <span> 좋아요 개</span>
                </div>
                <div class="reply">
                  <a th:href="@{/post/{postId}(postId=${post.postId})}" class="reply-link">댓글 개 모두 보기</a>
                </div>
              </div>
            <hr />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
